<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argolis" version="0.2.1-unstable0202" targetFramework="net45" />
  <package id="Argolis.Nancy" version="0.2.1-unstable0202" targetFramework="net45" />
  <package id="dotNetRDF" version="1.0.10" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="JsonLD.Entities" version="0.3.3" targetFramework="net45" />
  <package id="json-ld.net" version="1.0.5" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Rdf" version="0.2.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Rdf.Vocabularies" version="1.1.1" targetFramework="net45" />
  <package id="TunnelVisionLabs.Net.UriTemplate" version="1.0.0-beta004" targetFramework="net45" />
  <package id="VDS.Common" version="1.6.4" targetFramework="net45" />
</packages>